.searchbox {
  text-align: center;
}
.searchbox h3 {
  color: rgb(184, 79, 10);
}
.searchbox {
  border: 1px solid rgb(153, 77, 28);
}
.searchbox .btn {
  background-color: rgb(184, 79, 10);
  color: white;
}
